<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Nunito:400,700&display=swap" rel="stylesheet">
    <style>
        body {
            font-family: "Nunito";
            background-color: rgb(33, 37, 41);
            color: white;
        }

        #page {
            margin: 0 200px 0 200px;
            background-color: seagreen;
        }

        #header {
            height: 300px;
        }

        .childHeader {
            font-weight: 700;
            padding-left: 50px
        }

        #main {
            background-color: darkblue;
            display: flex;

        }

        .btn {
            width: 400px;
            height: 400px;
            background-color: darkcyan;
        }

        .forCards {
            height: 50%;
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            padding: 3% 5% 5% 5%;
        }
        .card {
            width: 270px;
            height: 350px;
            background-color: whitesmoke;
            border-radius: 10px;
            box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        }
        .card:hover {
            background-color: rgba(6, 156, 156, 0.582);
        }
        .icon {
            height: 60%;
            border-radius: 10px 10px 0 0;
            border-bottom: 1px solid grey;
            display: flex;
            justify-content: center;
            align-items: center;
            color: teal;
        }
    </style>
    </style>
</head>

<body>
    <div id="page">
        <div id="header">
            <div class="childHeader" style="font-size: 5rem;">pgadmin</div>
            <div class="childHeader">
                <p> Playlist Generator And Music Information</p>
            </div>
        </div>
        <div id="main">
            <div class="forCards">
                <div onclick="rdToProductionHouses()" class="card">
                    <div class="icon">
                        <i class="fab fa-fort-awesome fa-4x"></i>
                    </div>
                    <div class="desc">
                        <h4>Production Houses</h4>
                        <p>Click for more details about production houses</p>
                    </div>
                </div>
                <div onclick="rdToMovies()" class="card">
                    <div class="icon">
                        <i class="fas fa-film fa-4x"></i>
                    </div>
                    <div class="desc">
                        <h4>Movies</h4>
                        <p>Click for more details about movies</p>
                    </div>
                </div>
            </div>
            <div>
                <% if(login) { %>
                    <a class="btn btn-primary" href="/logout" role="button">Logout</a>
                    <% } else { %>
                    <p>
                        <a class="btn btn-primary" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false"
                            aria-controls="collapseExample">
                            Login
                        </a>
                    </p>
                    <div class="collapse" id="collapseExample">
                        <div class="card card-body">
                            <form action="/" method="post">
                                <div class="form-group">
                                    <label for="username">Userame</label>
                                    <input type="text" name="username" class="form-control" id="username" placeholder="Username">
                                </div>
                                <div class="form-group">
                                    <label for="password">Description</label>
                                    <input type="password" name="password" class="form-control" id="password" placeholder="Password">
                                </div>
                                <div>
                                    <input type="submit" value="Login">
                                </div>
                            </form>
                        </div>
                    </div>
                <%}%>
            </div>
        </div>
    </div>

    <h2>Playlist</h2>
    

    
    <a href="/playlists">Playlists</a>
    <a href="/songs">Songs</a>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>